
*.swp
*.cache/
*.Rhistory

*.ipynb_checkpoints/
*.Rapp.history
*.DS_Store
.Rproj.user
Project4-MachineLearning/*.csv
Project5-Capstone/*.csv
*.Rproj


*.xlsx

*.jpeg

Project2-Shiny/NickTalavera/importBucket.R
