{% extends "layout.html" %}

{% block content %}

    <h1 class="page-header">Find beers recommendations from other people like you!</h1>
    <div class="form-group">
    <form method="POST" action="{{ url_for('collab') }}">
        <h4>Please find your favorite beers and rate them! (out of 20)</h4>
        <input list="beers1" name="beer_inp1">
            <datalist id="beers1">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating1" name="rating_inp1">
            <datalist id="rating1">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers2" name="beer_inp2">
            <datalist id="beers2">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating2" name="rating_inp2">
            <datalist id="rating2">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers3" name="beer_inp3">
            <datalist id="beers3">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating3" name="rating_inp3">
            <datalist id="rating3">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers4" name="beer_inp4">
            <datalist id="beers4">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating4" name="rating_inp4">
            <datalist id="rating4">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers5" name="beer_inp5">
            <datalist id="beers5">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating5" name="rating_inp5">
            <datalist id="rating5">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers6" name="beer_inp6">
            <datalist id="beers6">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating6" name="rating_inp6">
            <datalist id="rating6">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers7" name="beer_inp7">
            <datalist id="beers7">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating7" name="rating_inp7">
            <datalist id="rating7">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers8" name="beer_inp8">
            <datalist id="beers8">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating8" name="rating_inp8">
            <datalist id="rating8">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers9" name="beer_inp9">
            <datalist id="beers9">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating9" name="rating_inp9">
            <datalist id="rating9">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers10" name="beer_inp10">
            <datalist id="beers10">
                <option>Yazoo Embrace the Funk Series: Deux Rouges</option>
                <option>Yazoo Fortuitous</option>
                <option>Iron Hill Bourbon Porter</option>
                <option>Big Island Red Giant Ale</option>
                <option>Big Sky Biere de Noel</option>
            </datalist>
        <input list="rating10" name="rating_inp10">
            <datalist id="rating10">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input type="submit">

    {% if cf_rec %}
        {% for rec in cf_rec %}
            <h4>{{ rec }}</h4>
        {% endfor %}
    {% endif %}
    </form>
    </div>
{% endblock %}