{% extends "layout.html" %}

{% block content %}

    <h1 class="page-header">Find beers recommendations from other people like you!</h1>
    <div class="row">
        <div class="col-lg-6">
        <div class="form-group">
        <form method="POST" action="{{ url_for('collab') }}">
        <h4>Please find your favorite beers and rate them! (out of 20)</h4>
        <input list="beers1" name="beer_inp1">
            <datalist id="beers1">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating1" name="rating_inp1">
            <datalist id="rating1">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers2" name="beer_inp2">
            <datalist id="beers2">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating2" name="rating_inp2">
            <datalist id="rating2">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers3" name="beer_inp3">
            <datalist id="beers3">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating3" name="rating_inp3">
            <datalist id="rating3">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers4" name="beer_inp4">
            <datalist id="beers4">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating4" name="rating_inp4">
            <datalist id="rating4">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers5" name="beer_inp5">
            <datalist id="beers5">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating5" name="rating_inp5">
            <datalist id="rating5">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers6" name="beer_inp6">
            <datalist id="beers6">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating6" name="rating_inp6">
            <datalist id="rating6">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers7" name="beer_inp7">
            <datalist id="beers7">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating7" name="rating_inp7">
            <datalist id="rating7">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers8" name="beer_inp8">
            <datalist id="beers8">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating8" name="rating_inp8">
            <datalist id="rating8">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers9" name="beer_inp9">
            <datalist id="beers9">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating9" name="rating_inp9">
            <datalist id="rating9">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input list="beers10" name="beer_inp10">
            <datalist id="beers10">
                {% for beer in beer_list %}
                    <option>{{ beer }}</option>
                {% endfor %}
            </datalist>
        <input list="rating10" name="rating_inp10">
            <datalist id="rating10">
                {% for r in range(1,21) %}
                    <option>{{ r }}</option>
                {% endfor %}
            </datalist>
        <br>
        <input type="submit">
        </form>
        </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Our Recommendations:</b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if cf_rec %}
                    <div class="alert alert-success">
                        1. {{ cf_rec[0] }}
                    </div>
                    {% endif %}
                    {% if cf_rec %}
                    <div class="alert alert-info">
                        2. {{ cf_rec[1] }}
                    </div>
                    {% endif %}
                    {% if cf_rec %}
                    <div class="alert alert-warning">
                        3. {{ cf_rec[2] }}
                    </div>
                    {% endif %}
                    {% if cf_rec %}
                    <div class="alert alert-danger">
                        4. {{ cf_rec[3] }}
                    </div>
                    {% endif %}
                    {% if cf_rec %}
                    <div class="alert alert-success">
                        5. {{ cf_rec[4] }}
                    </div>
                    {% endif %}
                    <!--<div class="alert alert-warning">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Link</a>.-->
                    <!--</div>-->
                    <!--<div class="alert alert-danger">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="alert-link">Link</a>.-->
                    <!--</div>-->
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        </div>

    <!--{% if cf_rec %}-->
        <!--{% for rec in cf_rec %}-->
            <!--<h4>{{ rec }}</h4>-->
        <!--{% endfor %}-->
    <!--{% endif %}-->

{% endblock %}