{% extends "layout.html" %}

{% block content %}
<style type="text/css">.bgimg {background-image: url('../static/bg3.png');}</style>
    <div class="bgimg">
    <h1 class="page-header">What Beer to See?</h1>
    <div class="form-group">
        <label>Select a Beer From the Following:</label>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    </div>
{% endblock %}