/* logo */
.skin-blue .main-header .logo {
  background-color: #107c10;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #107c10;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #107c10;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #3a3a3a;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #f1f1f1;
  color: #000000;
  border-left-color: #c2c2c2
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #3a3a3a;
  color: #f1f1f1;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #f1f1f1;
  color: #000000;
  border-left-color: #c2c2c2
}
/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #ff69b4;
}
/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #f1f1f1;
  color: #000000;
}
.skin-blue .content-wrapper, .right-side{
  background-color: #c2c2c2;
}
.box.box-solid.box-primary>.box-header{
  background-color: #107c10;
}
.box.box-solid.box-primary {
  border: 0.5px solid #3a3a3a;
}
.box-body {
  background-color: #f1f1f1;
}
.irs-from, .irs-to, .irs-single {
  color: #f1f1f1;
  background: #5dc21e;
}
.box.box-primary {
  border-top-color: #5dc21e;
}
.skin-blue .content-wrapper, .right-side{
  background-color: #f1f1f1;
}
.box.box-solid.box-primary>.box-header{
  background-color: #f1f1f1;
}
.box.box-solid.box-primary {
  border: 0.5px solid #f1f1f1;
}
.box-body {
  background-color: #f1f1f1;
}
.irs-bar-edge {
  border: 0.5px solid #f1f1f1;
  background: #5dc21e;
}
.box.box-solid.box-primary>.box-header{
  background-color: #107c10;
}
.box.box-solid.box-primary {
  border: 0.5px solid #3a3a3a;
}
.box-body {
  background-color: #f1f1f1;
}
.irs-bar {
  border-top: 0.5px solid #000000;
  border-bottom: 0.5px solid #000000;
  background: #5dc21e;
