.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

body (
  background-image: url(“see400x300.jpg”);
  background-color: #cccccc;
}